img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
body{
    background-color: silver;
}
.rounded:hover{
    color: cyan;
    border: 2px dotted pink;
}
img:hover{
    border: 4px dotted cyan;
}
.easteregg{
    height: .1px;
    width: .1px;
    position: absolute;
    bottom: 900px;
    right: 500px;
    left: 100px;
    
    
}